<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>About us</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header text-center>
            <ion-card-title>The Shoreditch</ion-card-title>
            <ion-card-subtitle>Nur-Sultan</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Гурмэ бургеры, пан-азиатские wok блюда и добросовестные стейки — настоящие вкусы одноимённого креативного
            района Лондона

            В The Shoreditch Burger&Wok вы окунетесь в арт-пространство и насладитесь вкусными бургерами, стейками из
            мраморной говядины и блюдами Wok, живой музыкой с 20:00 до 23:00, мини-библиотекой с английской литературой
            по искусству и дизайну, футболом в HD-качестве.

            В The Shoreditch Астана сразу бросается стильный интерьер, качественные свет и звук и позитивный персонал,
            знающий как помочь вам качественно отдохнуть.

            Весомый вклад в создание приятной расслабляющей атмосферы делает негромкая музыка, играющая на фоне. А вот
            по наступлению вечера гостей ждет приятный сюрприз – живое выступление музыкантов в стиле cover
            <ion-item-group>
                <ion-item-divider>
                    <ion-label>Доп. информация</ion-label>
                </ion-item-divider>
                <ion-item lines="none">телефон: +7 777 999 41 14</ion-item>
                <ion-item lines="none">адрес: пр. Кабанбай батыра, 7 ЖК Премьера</ion-item>
                <ion-item lines="none">время работы:
                    Вс-Чт 12:00 — 01:00
                    Пт-Сб 12:00 — 03:00
                </ion-item>
                <ion-item lines="none">ср. чек:
                    7000 kzt.
                </ion-item>
                <ion-item lines="none">кухня:
                    Европейская
                </ion-item>
            </ion-item-group>
        </ion-card-content>
    </ion-card>
</ion-content>
