<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>

        <ion-item lines="none">
            <ion-avatar class="center-img">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
        </ion-item>

        <ion-card-header text-center>
            <ion-card-title>{{user.fullName}}</ion-card-title>
            <ion-card-subtitle>{{user.status}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-item lines="none">
                <ion-label text-center>email: {{user.email}}</ion-label>
            </ion-item>
            <div *ngIf="user.status == 'admin'">
                Administrative Assistant with 5+ years of experience preparing flawless presentations, assembling facility reports,
                and maintaining the utmost confidentiality.  Possesses a B.A. in History and expertise in Microsoft Excel.
                Looking to leverage my knowledge and experience into a role as Project Manager.
                <br>
                <b>ADMINISTRATIVE ASSISTANT</b>
                <br>
                Redford & Sons, Boston, MA / September 2016 – August 2018
                •	Scheduled and coordinated meetings, appointments, and travel arrangements for supervisors and managers
                •	Trained 2 administrative assistants during a period of company expansion, ensuring that they pay explicit attention to company policies and minute details
                •	Developed new filing and organizational practices, saving the company $3,000 per year in contracted labor expenses
                •	Maintained utmost discretion when dealing with sensitive topics
                •	Managed travel and expense reports for department team members
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>
